/*
 * github-markdown.css provides all the CSS needed for the markdown content.
 * This CSS provides what's needed for tags that wrap the markdown content.
 */
.markdown-body {
    /* Surround content with a border with slightly rounded corners. */
    border:1px solid #ddd;
    border-radius:3px;

    /* Create the space needed for hover anchors to the left of headings. */
    padding:30px;
}
