<script>
  var anchorForId = function (id) {
    var anchor = document.createElement("a");
    anchor.className = "anchor";
    anchor.href      = "#" + id;
    anchor.innerHTML = "<span class=\"octicon octicon-link\"></span></a>";
    return anchor;
  };

  var linkifyAnchors = function (level, containingElement) {
    var headers = containingElement.getElementsByTagName("h" + level);

    for (var h = 0; h < headers.length; h++) {
      var header = headers[h];

      if (typeof header.id !== "undefined" && header.id !== "") {
        header.insertBefore(anchorForId(header.id), header.firstChild);
      }
    }
  };

  document.onreadystatechange = function () {
    if (this.readyState === "complete") {
      var contentBlocks = document.getElementsByClassName("markdown-body");

      for (var c = 0; c < contentBlocks.length; c++) {
          var contentBlock = contentBlocks[c];

          for (var level = 1; level <= 6; level++) {
            linkifyAnchors(level, contentBlock);
          }
      }
    }
  };
</script>
