---
title: User Settings
layout: narrow
---
<div id="settings-alert" class="alert alert-success alert-dismissible hidden" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Your settings were successfully updated.
</div>

<form class="form-horizontal" method="POST">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">User Settings</h3>
    </div>
    <div class="panel-body">

        <div class="form-group">
            <label for="fullName" class="col-sm-2 control-label">Full Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="fullName" name="fullName" value="FULL_NAME">
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="EMAIL">
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" name="password" value="-unchanged-">
            </div>
        </div>

        <div class="form-group">
            <label for="confirmPassword" class="col-sm-2 control-label">Confirm Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" value="-unchanged-">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" name="operation" value="modify">Update</button>
            </div>
        </div>

    </div>
</div>
</form>

<script>
    var onReady = function ($) {
        if (getURLParameter('success') === 'true') {
            $('#settings-alert').removeClass('hidden');
        }
    };
</script>
